<%@ page contentType="text/html;charset=UTF-8" language="java" %>
<html>
<head>
    <title>Main - WeatherApp</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.0/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h2>Welcome, <%= session.getAttribute("username") %>!</h2>
    <a href="/logout" class="btn btn-secondary">Logout</a>
</div>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>